body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 680px;
}

#query_box { 
  width: 400px;
  height: 650px;
  border-width: 5%;
  border-color: black;
  border-style: double;
  float : right;

}

.queryContainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#queryNameHead {
  font-size: 80%;
}